<!DOCTYPE html>
<html>
  <head>
    <title>Agregar Empleado | GROUPNOMIMANE</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Recources/Styles/Estiloagr.css') }}"
    />
    <link
      rel="icon"
      href="{{url_for('static', filename='Recources/logo.png')}}"
    />
  </head>
  <body style="background-color: #f2f2f2">
    <div class="container">
      <header class="header">
        <h3 class="text-center">Agregar Nuevo Empleado A La Lista</h3>
      </header>
      <div class="mensaje">
        <label
          >Por favor, diligencie los siguientes datos para finalizar su
          registro</label
        >
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="form-register">
            <form class="formulario" method="post">
              <div class="form-group">
                <label>N° Documento:</label>
                <input
                  type="number"
                  class="controls"
                  name="nro_documento"
                  placeholder="N° Documento"
                  required
                />
              </div>
              <div class="form-group">
                <label>Nombres:</label>
                <input
                  type="text"
                  class="controls"
                  name="nombres"
                  autocomplete="off"
                  placeholder="Nombres"
                  required
                />
              </div>
              <div class="form-group">
                <label>Apellido Paterno:</label>
                <input
                  type="text"
                  class="controls"
                  name="apellido_paterno"
                  autocomplete="off"
                  placeholder="Apellido Paterno"
                  required
                />
              </div>
              <div class="form-group">
                <label>Apellido Materno:</label>
                <input
                  type="text"
                  class="controls"
                  name="apellido_materno"
                  autocomplete="off"
                  placeholder="Apellido Materno"
                  required
                />
              </div>
              <div class="form-group">
                <label>Fecha Nacimiento:</label>
                <label for="fecha_nacimiento"></label>
                <input
                  type="date"
                  class="controls"
                  autocomplete="off"
                  name="fecha_nacimiento"
                  required
                /><br />
              </div>
              <div class="form-group">
                <label>Dirección:</label>
                <input
                  type="text"
                  class="controls"
                  autocomplete="off"
                  name="direccion"
                  placeholder="Dirección"
                  required
                />
              </div>
              <div class="form-group">
                <label>Barrio:</label>
                <input
                  type="text"
                  class="controls"
                  autocomplete="off"
                  name="barrio"
                  placeholder="Barrio"
                  required
                />
              </div>
              <div class="form-group">
                <label>Teléfono:</label>
                <input
                  type="text"
                  class="controls"
                  autocomplete="off"
                  name="telefono"
                  placeholder="Teléfono"
                  required
                />
              </div>
              <div class="form-group">
                <label>Email:</label>
                <input
                  type="email"
                  class="controls"
                  name="email"
                  autocomplete="off"
                  placeholder="Email"
                  required
                />
              </div>
              <div class="form-group">
                <label for="departamento">Area en la que desempeña:</label>
                <select class="controls" name="departamento" required>
                  {% for departamento in departamentos %}
                  <option value="{{ departamento['ID'] }}">
                    {{ departamento['Nombre'] }}
                  </option>
                  {% endfor %}</select
                ><br />
              </div>
              <div class="form-group">
                <label>Sueldo:</label>
                <input
                    type="number"
                    class="controls"
                    name="sueldo"
                    placeholder="Sueldo"
                    required
                />
              </div>
              <div class="bnt-agregar">
                <button type="submit" class="botons">Agregar Empleado</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
