<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Departamentos</title>
</head>
<body>
    <h1>Lista de Departamentos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for departamento in departamentos %}
            <tr>
                <td>{{ departamento.ID }}</td>
                <td>{{ departamento.Nombre }}</td>
                <td>
                    <a href="{{ url_for('Editar_departamento', id_departamento=departamento.ID) }}" class="editar">
                        <i class="fas fa-user-edit">Editar</i>
                    </a>
                </td>
                <td>
                    <form method="POST">
                        <input type="hidden" name="eliminar" value="{{ departamento.ID }}">
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('agregar_departamento') }}">Agregar Departamento</a>
</body>
</html>
