<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lista Inactivos | GROUPNOMIMANE</title>
    <link
      rel="icon"
      href="{{url_for('static', filename='Recources/logo.png')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Recources/Styles/Estiloinac.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
  </head>
  <body>
    <div class="main-top">
      <div class="navbar">
        <a href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='/assets/inicio.svg') }}" />
          <span class="nav-item"></span>
        </a>
        <p>Lista De Empleados Inactivos</p>
        <a href="{{ url_for('trabajadores') }}">
          <img src="{{ url_for('static', filename='/assets/lista.svg') }}" />
        </a>
      </div>
    </div>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Edad</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for empleado in empleados_inactivos %}
          <tr>
            <td>{{ empleado['ID'] }}</td>
            <td>{{ empleado['Nombres'] }}</td>
            <td>{{ empleado['Apellido_Paterno'] }}</td>
            <td>{{ empleado['Apellido_Materno'] }}</td>
            <td>{{ empleado['Edad'] }}</td>
            <td>{{ empleado['Telefono'] }}</td>
            <td>{{ empleado['Email'] }}</td>
            <td style="text-align: center">
              <a
                href="{{ url_for('reactivar_empleado', id=empleado['ID']) }}"
                class="activar"
                onclick="confirmActivar(event)"
                ><i class="fas fa-check"></i
              ></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- SweetAlert JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
  {% for empleado in empleados_inactivos %}
  <script>
    function confirmActivar(event) {
      event.preventDefault(); // Prevenir la navegación por defecto del enlace

      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "swal2-confirm",
          cancelButton: "swal2-cancel",
        },
        buttonsStyling: false,
      });

      swalWithBootstrapButtons
        .fire({
          title: "¿Estás seguro?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Sí, Activarlo",
          cancelButtonText: "No, Cancelar",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            swalWithBootstrapButtons.fire(
              "Activado!",
              "Su empleado ha sido reactivado.",
              "success"
            );
            setTimeout(function () {
              window.location.href =
                "{{ url_for('reactivar_empleado', id=empleado['ID']) }}";
            }, 1200); // Espera 1.5 segundos antes de redirigir
          } else if (result.dismiss === Swal.DismissReason.cancel) {
            swalWithBootstrapButtons.fire(
              "Cancelado",
              "Parece que fue un error :)",
              "error"
            );
          }
        });
    }
  </script>
  {% endfor %}
</html>
