<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liquidación Pago | GROUPNOMIMANE</title>
    <link
      rel="icon"
      href="{{url_for('static', filename='Recources/logo.png')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Recources/Styles/Estiloliqui.css') }}"
    />
  </head>
  <body>
    <h1>Liquidación de Pago</h1>
    <p>
      El empleado {{ empleado_nombre }} identificado con el N° de ID {{
      empleado_id }} recibirá el pago total de {{ neto_pagado }}
    </p>
    <p>Detalles:</p>
    <ul>
      <li>Horas Extra Total: {{ horas_extra_total }}</li>
      <li>Salud: {{ salud }}</li>
      <li>Pensión: {{ pension }}</li>
      <li>Total Devengado: {{ total_devengado }}</li>
      <li>Total Deducido: {{ total_deducido }}</li>
    </ul>
    <form action="{{ url_for('realizar_pago') }}" method="post" id="pago-form">
      <input type="hidden" name="empleado_id" value="{{ empleado_id }}" />
      <input
        type="hidden"
        name="horas_extra_total"
        value="{{ horas_extra_total }}"
      />
      <input type="hidden" name="salud" value="{{ salud }}" />
      <input type="hidden" name="pension" value="{{ pension }}" /> 
      <input type="hidden" name="horas_diurnas_total" value="{{ horas_diurnas_total }}" />
      <input type="hidden" name="horas_extra_diurnas_total" value="{{ horas_extra_diurnas_total }}" /> 
      <input type="hidden" name="horas_nocturnas_total" value="{{ horas_nocturnas_total }}" /> 
      <input type="hidden" name="horas_extra_nocturnas_total" value="{{ horas_extra_nocturnas_total }}" /> 
      <input type="hidden" name="horas_dominicales_total" value="{{ horas_dominicales_total }}" />
      <input type="hidden" name="horas_extra_dominicales_total" value="{{ horas_extra_dominicales_total }}" />
      <input type="hidden" name="horas_extra_dom_nocturnas_total" value="{{ horas_extra_dom_nocturnas_total }}" />

      <input
        type="hidden"
        name="total_devengado"
        value="{{ total_devengado }}"
      />
      <input type="hidden" name="total_deducido" value="{{ total_deducido }}" />
      <input type="hidden" name="neto_pagado" value="{{ neto_pagado }}" />
      <div class="button-container">
        <button type="button" class="pagar" onclick="confirmarPago()">
          Liquidar
        </button>
        <a href="{{ url_for('index') }}" class="cancelar">Cancelar</a>
      </div>
    </form>
    <!-- Agrega el código de SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      function confirmarPago() {
        Swal.fire({
          title: "Confirmar Pago",
          text: "¿Estás seguro de que deseas efectuar el pago?",
          icon: "question",
          showCancelButton: true,
          cancelButtonText: "Cancelar",
          confirmButtonText: "Sí, Pagar",
          customClass: {
            confirmButton: "pagar",
            cancelButton: "cancelar",
          },
          buttonsStyling: false,
        }).then((result) => {
          if (result.isConfirmed) {
            // Envía el formulario manualmente
            document.getElementById("pago-form").submit();
          }
        });
      }
    </script>
  </body>
</html>
