<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lista Trabajadores | GROUPNOMIMANE</title>
    <link
      rel="icon"
      href="{{url_for('static', filename='Recources/logo.png')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Recources/Styles/Estilotrab.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
  </head>
  <body>
    <div class="main-top">
      <div class="navbar">
        <a href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='/assets/inicio.svg') }}" />
          <span class="nav-item"></span>
        </a>
        <p>Lista De Empleados</p>
        <a href="{{ url_for('agregar') }}" class="agregar">
          <img src="{{ url_for('static', filename='/assets/agregar.svg') }}" />
          <span class="nav-item"></span>
        </a>
      </div>
    </div>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Edad</th>
            <th>Direccion</th>
            <th>Barrio</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Departamento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for empleado in empleados %}
          <tr>
            <td>{{ empleado['ID'] }}</td>
            <td>{{ empleado['Nombres'] }}</td>
            <td>{{ empleado['Apellido_Paterno'] }}</td>
            <td>{{ empleado['Apellido_Materno'] }}</td>
            <td>{{ empleado['Edad'] }}</td>
            <td>{{ empleado['Direccion'] }}</td>
            <td>{{ empleado['Barrio'] }}</td>
            <td>{{ empleado['Telefono'] }}</td>
            <td>{{ empleado['Email'] }}</td>
            <td>{{ empleado['Nombre_Departamento'] }}</td>
            <td>
              <!-- Reemplazar botón "Editar" por icono de edición -->
              <a
                href="{{ url_for('editar', id_empleado=empleado['ID']) }}"
                class="editar"
              >
                <i class="fas fa-user-edit"></i>
              </a>

              <!-- Botón "Desactivar" con fondo rojo y icono blanco -->
              <a
                href="{{ url_for('desactivar', id=empleado['ID']) }}"
                class="desactivar"
                onclick="confirmDesactivar(event)"
              >
                <i class="fas fa-ban"></i>
              </a>
              <a
                href="{{ url_for('Horario', empleado_id=empleado['ID']) }}"
                class="liquidacion"
              >
                <i class="fas fa-wallet"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- SweetAlert JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
  {% for empleado in empleados %}
  <script>
    function confirmDesactivar(event) {
      event.preventDefault(); // Prevenir la navegación por defecto del enlace

      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "swal2-confirm",
          cancelButton: "swal2-cancel",
        },
        buttonsStyling: false,
      });
      swalWithBootstrapButtons
        .fire({
          title: "¿Estás seguro?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Sí, Desactivarlo",
          cancelButtonText: "No, Cancelar",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            swalWithBootstrapButtons.fire(
              "Desactivado!",
              "Su empleado ha sido desactivado.",
              "success"
            );
            setTimeout(function () {
              window.location.href =
                "{{ url_for('desactivar', id=empleado['ID']) }}";
            }, 2500); // Espera 1.5 segundos antes de redirigir
          } else if (result.dismiss === Swal.DismissReason.cancel) {
            swalWithBootstrapButtons.fire(
              "Cancelado",
              "Parece que fue un error :)",
              "error"
            );
          }
        });
    }
  </script>
  {% endfor %}
</html>
