@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #d4d4d4;
}
/* Seccion menu*/

.nav__container:has(.dropdown:target) {
  --img1: scale(0);
  --img2: scale(1);

  --clip: inset(0 0 0 0);
}

.nav__container {
  width: 100%;
  margin: 0 auto;
  height: 70px;
  z-index: 1000;
  /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);*/
  --img1: scale(1);
  --img2: scale(0);

  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas: "title img";
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
}

.menu_icon{
  font-size: 25px; 
  color: #ffffff;
}

.menu_icon:hover{
  color: #a19d9dd3;
}

.nav__menu {
  grid-area: img;
  position: relative;
  z-index: 50;
  transform: var(--img1);
}

.nav__menu--second {
  transform: var(--img2);
}

.nav__icon {
  width: 30px;
  display: block;
}

.dropdown {
  position: absolute;
  background-color: #00000097;
  width: 75%;
  max-width: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1em;

  display: grid;
  align-content: center;
  gap: 1rem;

  overflow-y: auto;

  clip-path: var(--clip, inset(0 0 100% 100%));
  transition: clip-path 0.5s;
}

.dropdown__list {
  list-style: none;
}

.dropdown__link {
  color: rgb(184, 187, 191);
  padding: 1em 0.7em;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 0.6rem;

  position: relative;
  background-color: var(--bg, transparent);
  border-radius: 6px;
}

.dropdown__list:has(:checked) {
  --rows: 1fr;
  --rotate: rotate(180deg);
  --bg: grey;
}

.dropdown__check {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.dropdown__arrow {
  margin-left: auto;
  transform: var(--rotate, 0);
  transition: 0.2s transform;
}

.dropdown__content {
  display: grid;
  grid-template-rows: var(--rows, 0fr);
  transition: 0.3s grid-template-rows;
}

.dropdown__sub {
  overflow: hidden;
}

.dropdown__li {
  width: 85%;
  list-style: none;
  margin-left: auto;
}

.dropdown__anchor {
  padding: 1em 0;
  display: block;
  color: #b6babe;
  text-decoration: none;
}


/* botones de la alert*/
.swal2-confirm {
  background-color: #28a745; 
  color: #fff; 
  border-color: #28a745; 
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  border: 3px solid #2fb44e; 
  display: inline-block; 
  font-family: "Poppins", sans-serif;
}

.swal2-confirm:hover {
  background-color: #1e7e34; 
  border-color: #1e7e34;
  border: 2px solid #28a745; 
}

.swal2-cancel {
  background-color: #dc3545; 
  color: #fff; 
  border-color: #dc3545; 
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 0 12px;
  border: 2px solid #dc3545;
  font-family: "Poppins", sans-serif;
  display: inline-block;
}

.swal2-cancel:hover {
  background-color: #c82333;
  border-color: #c82333; 
  border: 3px solid #e33445; 
}


.scroll-to-top:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  cursor: pointer;
}

/* Estilo del modal de bienvenida */
#modal-bienvenida {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  width: 40%;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Para apilar la imagen y el título verticalmente */
}
.modal-header h2{
  color: #646464;
}

.modal-icon {
  width: 60%; /* Ajusta el tamaño de la imagen */
  height: 60%; /* Ajusta el tamaño de la imagen */
  margin-bottom: 10px; /* Espacio entre la imagen y el título */
}

#cerrar-modal {
  background-color: #646464;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
#cerrar-modal:hover {
  background-color: #ffffff; /* Color de fondo al hacer hover */
  color: #646464; 
border: 1px solid #646464 ;
}


:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

.bx{
    font-size: 1.7rem;
}

.content main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}


.content main .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
}

.content main .insights li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s; /* Agregar transiciones */
  }
  
  /* Estilos en hover */
  .content main .insights li:hover {
    transform: scale(1.05); /* Zoom al 105% en hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra en hover */
  }
.content main .insights li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .insights li:nth-child(1) .bx{
    background: var(--light-primary);
    color: var(--primary);
}

.content main .insights li:nth-child(2) .bx{
    background: var(--light-warning);
    color: var(--warning);
}

.content main .insights li:nth-child(3) .bx{
    background: var(--light-success);
    color: var(--success);
}

.content main .insights li:nth-child(4) .bx{
    background: var(--light-danger);
    color: var(--danger);
}

.content main .insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.content main .insights li .info p{
    color: var(--dark);
}

.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.content main .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx{
    cursor: pointer;
}

.content main .bottom-data .orders{
    flex-grow: 1;
    flex-basis: 500px;
}

.content main .bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.content main .bottom-data .orders table td{
    padding: 16px 0;
}

.content main .bottom-data .orders table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.content main .bottom-data .orders table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .bottom-data .orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .bottom-data .orders table tbody tr:hover{
    background: var(--grey);
}

.content main .bottom-data .orders table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.content main .bottom-data .orders table tr td .status.completed{
    background: var(--success);
}

.content main .bottom-data .orders table tr td .status.process{
    background: var(--primary);
}

.content main .bottom-data .orders table tr td .status.pending{
    background: var(--warning);
}



@media screen and (max-width: 768px) {
    .sidebar{
        width: 200px;
    }

    .content{
        width: calc(100% - 60px);
        left: 200px;
    }

}

@media screen and (max-width: 576px) {
    
    .content nav form .form-input input{
        display: none;
    }

    .content nav form .form-input button{
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .content nav form.show .form-input input{
        display: block;
        width: 100%;
    }

    .content nav form.show .form-input button{
        width: 36px;
        height: 100%;
        color: var(--light);
        background: var(--danger);
        border-radius: 0 36px 36px 0;
    }

    .content nav form.show~.notif, .content nav form.show~.profile{
        display: none;
    }

    .content main .insights {
        grid-template-columns: 1fr;
    }

    .content main .bottom-data .header{
        min-width: 340px;
    }

    .content main .bottom-data .orders table{
        min-width: 340px;
    }

    .content main .bottom-data .reminders .task-list{
        min-width: 340px;
    }

}


/*barra lateral*/
::-webkit-scrollbar{
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track{
 box-shadow: inset 0 0 6px rgb(0,0, 0, 0.3); 
 border-radius: 8px;
}


::-webkit-scrollbar-thumb{
 box-shadow: inset 0 0 6px rgb(0,0, 0, 0.3); 
  border-radius: 8px;
}

