@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  background-color: #f2f2f2;
}
.header {
  background-color: #b8b8b8;
  color: white;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 10px rgb(198, 198, 198);
  width: 90%;
  margin: 0 auto;
}

.container {
  margin-top: 7%;
}
.row {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}


.col-md-6 {
  width: 80%;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.formulario {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Cambia a tres columnas */
  gap: 15px;
}


.form-group {
  margin-bottom: 15px;
  position: relative;
}

.form-group label {
  font-size: 15px;
  color: rgb(92, 92, 92);
}


.bnt-agregar {
	display: flex;
	flex-direction: column;
	align-items: center;
  grid-column: span 3;
}

.controls {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  
}

button {
  width: 20%;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  color: #9a9a9a;
  border: 2px solid #b8b8b8;
  padding: 5px 10px;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  font-size: 17px;
}

button:hover {
  background-color: #b8b8b8;
  color: #fff;
  transform: scale(1.1);
  box-shadow: 2px 0px 10px rgba(163,163,163, 1);
}

::-webkit-scrollbar{
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track{
 box-shadow: inset 0 0 6px rgb(0,0, 0, 0.3); 
 border-radius: 8px;
}


::-webkit-scrollbar-thumb{
 box-shadow: inset 0 0 6px rgb(0,0, 0, 0.3); 
  border-radius: 8px;
}