* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}
/* Seccion menu*/

.nav__container:has(.dropdown:target) {
  --img1: scale(0);
  --img2: scale(1);

  --clip: inset(0 0 0 0);
}

.nav__container {
  width: 100%;
  margin: 0 auto;
  height: 70px;
  z-index: 1000;
  /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);*/
  --img1: scale(1);
  --img2: scale(0);

  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas: "title img";
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
}


.nav__menu {
  grid-area: img;
  position: relative;
  z-index: 50;
  transform: var(--img1);
}

.nav__menu--second {
  transform: var(--img2);
}

.nav__icon {
  width: 30px;
  display: block;
}

.dropdown {
  position: absolute;
  background-color: #00000097;
  width: 75%;
  max-width: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1em;

  display: grid;
  align-content: center;
  gap: 1rem;

  overflow-y: auto;

  clip-path: var(--clip, inset(0 0 100% 100%));
  transition: clip-path 0.5s;
}

.dropdown__list {
  list-style: none;
}

.dropdown__link {
  color: rgb(184, 187, 191);
  padding: 1em 0.7em;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 0.6rem;

  position: relative;
  background-color: var(--bg, transparent);
  border-radius: 6px;
}

.dropdown__list:has(:checked) {
  --rows: 1fr;
  --rotate: rotate(180deg);
  --bg: grey;
}

.dropdown__check {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.dropdown__arrow {
  margin-left: auto;
  transform: var(--rotate, 0);
  transition: 0.2s transform;
}

.dropdown__content {
  display: grid;
  grid-template-rows: var(--rows, 0fr);
  transition: 0.3s grid-template-rows;
}

.dropdown__sub {
  overflow: hidden;
}

.dropdown__li {
  width: 85%;
  list-style: none;
  margin-left: auto;
}

.dropdown__anchor {
  padding: 1em 0;
  display: block;
  color: #b6babe;
  text-decoration: none;
}

.hero {
  background-image: linear-gradient(
      120deg,
      rgba(23, 23, 23, 0.69) 0%,
      rgba(72, 69, 69, 0.829) 100%
    ),
    url("/static/Recources/Fondo4.jpg");
  width: 100%;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.textos-hero {
  height: 500px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textos-hero h1 {
  font-size: 60px;
}

.textos-hero p {
  font-size: 25px;
  margin-bottom: 20px;
}

.textos-hero a {
  display: inline-block;
  text-decoration: none;
  padding: 12px 15px;
  background: grey;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0 0 3px 0 rgba(149, 149, 149, 0.5);
  transform: scale(1);
  transition: transform 0.6s;
}

.textos-hero a:hover {
  box-shadow: 0 0 6px 0 rgba(231, 231, 231, 0.5);
  transform: scale(1.03);
  cursor: pointer;
}

.svg-hero {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Estilos generales */

.contenedor,
.wave-contenedor {
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
  padding: 0 0 80px 0;
}
.contenedor {
  padding: 80px 0;
}

.titulo {
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.titulo.left {
  text-align: left;
}

.titulo.right {
  text-align: right;
}

/* Section */

.website {
  display: flex;
  justify-content: space-between;
}

.website img {
  width: 48%;
}

.website .contenedor-textos-main {
  width: 40%;
}

.parrafo {
  text-align: justify;
  margin-bottom: 20px;
}

/* Info */

.info {
  background: #848484e5;
  color: #fff;
}

/* Cards */

.content-cards {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  text-align: center;
  height: 250px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: transform 0.6s;
  border-radius: 50px;
}

.card:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  cursor: pointer;
}

.card p {
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 10px;
}

/* footer */

footer {
  background: #848484e5;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .textos-hero h1 {
    text-align: center;
    font-size: 50px;
  }
  /* estilos generales */
  .titulo {
    font-size: 35px;
  }

  .titulo.left {
    text-align: center;
  }

  .info p {
    text-align: center;
  }

  /* section */
  .website {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .website img {
    width: 100%;
  }

  .website .contenedor-textos-main {
    width: 100%;
  }

  /* Cards */

  .card {
    width: 90%;
    margin-bottom: 20px;
  }
}
.team-image {
  width: 200px; /* Personaliza el ancho según tus necesidades */
  height: 200px; /* Personaliza la altura según tus necesidades */
  border-radius: 50px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.238);
}
.members {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.team-mem {
  width: 20%;
  text-align: center;
  height: 30%;
  transform: scale(1);
  transition: transform 0.6s;
  border-radius: 50px;
}

.team-mem:hover {
  transform: scale(1.2);
  cursor: pointer;
}
h4,
p {
  text-align: center;
  font-size: 17px;
  margin: 7px;
}
h2 {
  letter-spacing: 8px;
}
hr {
  width: 180px;
  margin: 30px auto;
  border: 2px solid;
}

/* botones de la alert*/
.swal2-confirm {
  background-color: #28a745; 
  color: #fff; 
  border-color: #28a745; 
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  border: 3px solid #2fb44e; 
  display: inline-block; 
  font-family: "Poppins", sans-serif;
}

.swal2-confirm:hover {
  background-color: #1e7e34; 
  border-color: #1e7e34;
  border: 2px solid #28a745; 
}

.swal2-cancel {
  background-color: #dc3545; 
  color: #fff; 
  border-color: #dc3545; 
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 0 12px;
  border: 2px solid #dc3545;
  font-family: "Poppins", sans-serif;
  display: inline-block;
}

.swal2-cancel:hover {
  background-color: #c82333;
  border-color: #c82333; 
  border: 3px solid #e33445; 
}


@media (max-width: 768px) {
  /* Cambios para pantallas más pequeñas */
  .team-mem {
    flex: 0 0 calc(60% - 20px); 
  }
}

/* boton flotante */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: transform 0.6s;
  border-radius: 8px;
}

.scroll-to-top:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  cursor: pointer;
}

/*barra lateral*/
::-webkit-scrollbar{
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track{
 box-shadow: inset 0 0 6px rgb(0,0, 0, 0.3); 
 border-radius: 8px;
}


::-webkit-scrollbar-thumb{
 box-shadow: inset 0 0 6px rgb(0,0, 0, 0.3); 
  border-radius: 8px;
}