<!DOCTYPE html>
<html>
<head>
    <title>Editar Departamento</title>
</head>
<body>
    <h1>Editar Departamento: {{ nombre_departamento }}</h1>
    <form action="{{ url_for('Editar_departamento', id_departamento=departamento['ID']) }}" method="POST">
        <label for="nombre">Nombre del Departamento:</label>
        <input type="text" id="nombre" name="nombre" value="{{ departamento.Nombre }}" required>
        <input type="submit" value="Guardar Cambios">
    </form>

    <h2>Agregar Cargo</h2>
    <form action="{{ url_for('agregar_cargos') }}" method="POST">
        <input type="hidden" name="Departamento_ID" value="{{ departamento.ID }}">
        <label for="nombre_cargo">Nombre del cargo</label>
        <input type="text" id="nombre_cargo" name="nombre_cargo" required>
        <label for="salario_base">Salario base</label>
        <input type="text" id="salario_base" name="salario_base" required>
        <input type="submit" value="Agregar">
    </form>

    <a href="{{ url_for('listar_departamentos') }}">Volver</a>
</body>
</html>
