<!DOCTYPE html>
<html>
<head>
    <title>Editar Empleado | GROUPNOMIMANE</title>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='Recources/Styles/Estiloedi.css') }}"/>
    <link
      rel="icon"
      href="{{url_for('static', filename='Recources/logo.png')}}"
    />
</head>
<body style="background-color: #f2f2f2"> 
    <div class="container">
        <header class="header">
            <h3>Editar Datos Del Empleado</h3>
          </header>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-register">
                <form class="formulario" method="POST">
                    <div class="form-group">
                        <label for="departamento">Nombres:</label>
                        <input placeholder="Nombres" type="text" class="controls" name="nombres" value="{{ empleado['Nombres'] }}" required>
                    </div>
                    <div class="form-group">
                        <label for="departamento">Apellido Paterno:</label>
                        <input placeholder="Apellido Paterno" type="text" class="controls" name="apellido_paterno" value="{{ empleado['Apellido_Paterno'] }}" required>
                    </div>
                    <div class="form-group">
                        <label for="departamento">Apellido Materno:</label>
                        <input placeholder="Apellido Materno" type="text" class="controls" name="apellido_materno" value="{{ empleado['Apellido_Materno'] }}" required>
                    </div>
                    <div class="form-group">
                        <label for="departamento">Fecha Nacimiento:</label>
                        <label for="fecha_nacimiento"></label>
                        <input type="date" class="controls" name="fecha_nacimiento" value="{{ empleado['Fecha_Nacimiento'] }}" required>
                    </div>
                    <div class="form-group">
                        <label for="departamento">Dirección:</label>
                        <input placeholder="Dirección" type="text" class="controls" name="direccion" value="{{ empleado['Direccion'] }}" required>
                    </div>
                <div class="form-group">
                    <label for="departamento">Barrio:</label>
                    <input placeholder="Barrio" type="text" class="controls" name="barrio" value="{{ empleado['Barrio'] }}" required>
                </div>
                <div class="form-group">
                    <label for="departamento">Teléfono:</label>
                  <input placeholder="Teléfono" type="text" class="controls" name="telefono" value="{{ empleado['Telefono'] }}" required>
                </div>
            <div class="form-group">
                <label for="departamento">Email:</label>
                <input placeholder="Email" type="email" class="controls" name="email" value="{{ empleado['Email'] }}" required>
            </div>
            <div class="form-group">
                <label>Sueldo:</label>
                <input
                    type="number"
                    class="controls"
                    name="sueldo"
                    value="{{ empleado['Sueldo'] }}"
                    placeholder="Sueldo"
                    required
                />
              </div>
                    <div class="form-group">
                        <label for="departamento">Área en la que desempeña:</label>
                        <select class="controls" name="departamento" id="departamento" required>
                            {% for departamento in departamentos %}
                            <option value="{{ departamento['ID'] }}">{{ departamento['Nombre'] }}</option>
                            {% endfor %}
                        </select><br />
                    </div>
                    
                    <div class="form-group">
                        <label for="cargo">Cargo:</label>
                        <select class="controls" name="cargo" id="cargo" required>
                            <!--El javascript se encarga de rellenar este campo-->
                        </select><br />
                    </div>                 
                    <div class="bnt-agregar">
                        <button type="submit"><i class="fas fa-save fa-lg"></i></button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>

    <script>
        // Obtener el combobox de departamentos y cargos
        const departamentoSelect = document.getElementById('departamento');
        const cargoSelect = document.getElementById('cargo');
    
        // Cargando inicial de los cargos al cargar la página
        cargarCargos();
    
        // Agregar un evento de cambio al combobox de departamentos
        departamentoSelect.addEventListener('change', cargarCargos);
    
        // Función para cargar los cargos basados en el departamento seleccionado
        function cargarCargos() {
            // Obtener el ID del departamento seleccionado
            const departamentoID = departamentoSelect.value;
    
            // Limpia las opciones actuales
            cargoSelect.innerHTML = '';
    
            // Si se ha seleccionado un departamento, cargar los cargos
            if (departamentoID) {
                fetch(`/cargos/${departamentoID}`)
                    .then(response => response.json())
                    .then(cargos => {
                        // Agregar las opciones al combobox de cargos
                        cargos.forEach(cargo => {
                            const option = document.createElement('option');
                            option.value = cargo['ID'];
                            option.text = cargo['Nombre'];
                            cargoSelect.appendChild(option);
                        });
                    });
            }
        }
    </script>
</body>
</html>

            