<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lista Inactivos | GROUPNOMIMANE</title>
    <link
      rel="icon"
      href="{{url_for('static', filename='Recources/logo.png')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Recources/Styles/Estiloinac.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
  </head>
  <body>
    <div class="main-top">
      <div class="nav__container">
        <a href="#menu" class="nav__menu">
          <i class="fa-regular fa-chart-bar menu_icon"></i>
        </a>

        <a href="#" class="nav__menu nav__menu--second">
          <img
            src="{{ url_for('static', filename='/assets/close.svg') }}"
            class="nav__icon"
          />
        </a>

        <ul class="dropdown" id="menu">
          <li class="dropdown__list">
            <a href="{{ url_for('index') }}" class="dropdown__link">
              <img
                src="{{ url_for('static', filename='/assets/dashboard.svg') }}"
                class="dropdown__icon"
              />
              <span class="dropdown__span" data-inicio>Inicio</span>
            </a>
          </li>

          <li class="dropdown__list">
            <a href="#" class="dropdown__link">
              <img
                src="{{ url_for('static', filename='/assets/projects.svg') }}"
                class="dropdown__icon"
              />
              <span class="dropdown__span">Listados</span>
              <img
                src="{{ url_for('static', filename='/assets/down.svg') }}"
                class="dropdown__arrow"
              />

              <input type="checkbox" class="dropdown__check" />
            </a>

            <div class="dropdown__content">
              <ul class="dropdown__sub">
                <li class="dropdown__li">
                  <a
                    href="{{ url_for('trabajadores') }}"
                    class="dropdown__anchor"
                    >Lista Trabajadores</a
                  >
                </li>
                <li class="dropdown__li">
                  <a href="{{url_for('inactivos')}}" class="dropdown__anchor"
                    >Trabajadores Inactivos</a
                  >
                </li>
                <li class="dropdown__li">
                  <a
                    href="{{ url_for('listar_departamentos') }}"
                    class="dropdown__anchor"
                    >Lista Departamentos</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="dropdown__list">
            <a href="{{ url_for('reportes') }}" class="dropdown__link">
              <img
                src="{{ url_for('static', filename='/assets/stats.svg') }}"
                class="dropdown__icon"
              />
              <span class="dropdown__span">Reportes</span>
            </a>
          </li>

          <li class="dropdown__list">
            <a
              href="{{ url_for('logout') }}"
              class="dropdown__link"
              onclick="confirmLogout(event)"
            >
              <img
                src="{{ url_for('static', filename='/assets/Exit.svg') }}"
                class="dropdown__icon"
              />
              <span class="dropdown__span">Salir</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="table-container">
      <h1>Lista De Empleados Inactivos</h1>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Edad</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for empleado in empleados_inactivos %}
          <tr>
            <td>{{ empleado['ID'] }}</td>
            <td>{{ empleado['Nombres'] }}</td>
            <td>{{ empleado['Apellido_Paterno'] }}</td>
            <td>{{ empleado['Apellido_Materno'] }}</td>
            <td>{{ empleado['Edad'] }}</td>
            <td>{{ empleado['Telefono'] }}</td>
            <td>{{ empleado['Email'] }}</td>
            <td style="text-align: center">
              <a
                href="{{ url_for('reactivar_empleado', id=empleado['ID']) }}"
                class="activar"
                onclick="confirmActivar(event)"
                ><i class="fas fa-check"></i
              ></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- SweetAlert JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
  {% for empleado in empleados_inactivos %}
  <script>
    function confirmActivar(event) {
      event.preventDefault(); // Prevenir la navegación por defecto del enlace

      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "swal2-confirm",
          cancelButton: "swal2-cancel",
        },
        buttonsStyling: false,
      });

      swalWithBootstrapButtons
        .fire({
          title: "¿Estás seguro?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Sí, Activarlo",
          cancelButtonText: "No, Cancelar",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            swalWithBootstrapButtons.fire(
              "Activado!",
              "Su empleado ha sido reactivado.",
              "success"
            );
            setTimeout(function () {
              window.location.href =
                "{{ url_for('reactivar_empleado', id=empleado['ID']) }}";
            }, 1200); // Espera 1.5 segundos antes de redirigir
          } else if (result.dismiss === Swal.DismissReason.cancel) {
            swalWithBootstrapButtons.fire(
              "Cancelado",
              "Parece que fue un error :)",
              "error"
            );
          }
        });
    }
  </script>
  {% endfor %}
</html>
